@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Lora:ital,wght@1,500&family=Play&family=Rajdhani:wght@300;700&display=swap');


body {
  background-image: url(pfbg.jpg);
  font-family: monospace, sans-serif;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin-bottom: auto;
  padding: 0;
  background-color: #fff8f0;
}

.link{
  border-radius: 10px 0px 0px 10px;
  background-size: 800px auto;
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350); 
  background: linear-gradient(to right, #A43931, #1D4350);
  color: white;
  font-family:'Play', sans-serif;
  max-height: 800px;
  width: 30%;
  padding: 0px ;
}

.link-nav{
  font-size: 28px;
  text-decoration: none;
}

.link-nav a{
  text-transform:uppercase;
  color: white;

}

.profile-photo{
  max-width: 100px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.link .profile-name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-description{
  height: 100%;
  width: 70%;
}
.profile-container {
  display: flex;
  flex-direction: right;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.profile-image {
  max-width: 200px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.profile-name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 24px;
  color: #555;
}

.profile-description {
  font-size: 18px;
  margin-top: 20px;
}

.social-links {
  margin-top: 20px;
}

.social-link {
  font-size: 24px;
  margin: 0 15px;
  color: #0077B5;
  text-decoration: none;
}

.social-link img {
  width: 30px; /* Adjust the size of the social media icons */
  vertical-align: middle;
  margin-right: 5px;
}

.footer {
  margin-top: auto;
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350); 
  background: linear-gradient(to right, #A43931, #1D4350);
  padding: 20px 0;
  text-align: center;
}

.container p{
  font-family: 'Play', sans-serif;
  font-size: large;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff; 
}

.credits {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: medium;
}
.container {
  margin-top: 40px;
}

.fit-picture1 {
  width: 250px;
  height: auto;
}

.home-icon {
  position: absolute;
  top: 10px; 
  left: 10px; 
  font-size: 24px;
  color: #ebebeb;
  cursor: pointer; 
}

.home-icon:hover{
  color: orange;
}