@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Lora:ital,wght@1,500&family=Play&family=Rajdhani:wght@300;700&display=swap');

/* Reset some default styles */
body, h1, h2, p, label, input, button {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color and font for the body */
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  /* Style the header */
 
.taskbar {
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350); 
  background: linear-gradient(to right, #A43931, #1D4350);
  
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: hsl(0, 4%, 5%);
}

.logo img {
  cursor: pointer;
  width: auto;
  height: 50px;
  margin-right: 20px;
}

.navigation ul {
  list-style:none;
  display: flex;
  gap: 40px;
}

.navigation li {

  align-content: end;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
 
}

.navigation a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #0056b3;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  
}

.user-profile p{
  color: #b53f0c;
  font-family:'Play', sans-serif;
  font-size: 30px;

}

  .nav-act a{
    color: #f67301;
  }

  /*-----------*/
  
  .containers {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  /* Style the main content */
  main {
    background-color: #fff;
    padding: 20px;
    margin-top: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    
    font-family:'Play', sans-serif;
    align-content: center;
    font-size: 28px;
    margin-bottom: 20px;
  }

  
  form {
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    padding: 5px;
    margin-top: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: hsl(0, 0%, 0%);
    border-color:#333;
  }

  .book-upload p{
    font-family: 'Acme', sans-serif;
    color: #b53f0c;
  }

  textarea {
    padding: 5px;
    margin-top: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: hsl(0, 0%, 0%);
    border-color:#333;
  }

  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
  }

           
  button {

    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    max-width: fit-content;
  }

  button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 
body {
    background-image: url('rent.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    height: 100vh;
  }
  /*form*/
  main {
    background-color: rgba(255, 255, 255, 0.79); 
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 960px;
    margin-left: auto ;
    margin-right: auto;
  }

  main h2{
    text-align: center;
  }
  
  .container {
    font-size: large;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   
  }
  .footer {
    
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
  }
  .credits {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: medium;
  }
  .container {
    margin-top: 40px;
  }
  
  .fit-picture1 {
    width: 250px;
    height: auto;
  }
  
