@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Lora:ital,wght@1,500&family=Play&family=Rajdhani:wght@300;700&display=swap');

body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
  }

/* Reset some default styles for better alignment */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Style the taskbar */
.taskbar {
  background-color: #8D7B68;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: hsl(0, 4%, 5%);
}

/* Style the logo */
.logo img {
  width: auto;
  height: 50px;
  margin-right: 20px;
}

/* Style the navigation links */
.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation li {

  align-content: end;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

.navigation a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #0056b3;
}

/* Style the user profile photo */
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  
}

.user-profile p{
  color: #b53f0c;
  font-family:'Play', sans-serif;
  font-size: 30px;

}

/* .............. */
  .fit-picture {
    width: auto;
    height: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .container {
    font-size: large;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header1 {
    background-image: url(bg.jpg);
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .nav-item a:hover {
    color: #E0E0E0;
  }
  
  .hero {
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-title {
    font-family: 'Lora', serif;
    font-weight:700;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-text {
    font-family: 'Lora', serif;
    font-weight:300;
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    font-family: 'Play', sans-serif;
    display: inline-block;
    padding: 12px 24px;
    background-color: #b53f0c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #e96421;
  }

.container {
  margin-top: 40px;
}

.catalog {
  margin-top: 40px;
}

.catalog h2 {
  font-family:'Acme', sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 15px;
}

.book-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px 0;
  gap: 20px;
}

.book {
  font-family: 'Acme', sans-serif;
  flex: 0 0 auto;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.book img {
  max-width: 100%;
  height: auto;
}

.book p {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
}

.book:hover {
  transform: translateY(-5px);
}

  
  .footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
  }
  
  .fit-picture1 {
    width: 250px;
    height: auto;
  }

  .credits {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: medium;
  }

  