
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Croissant+One&family=Lobster&family=Lora:ital,wght@1,500&family=Open+Sans:wght@300;400&family=Play&family=Rajdhani:wght@300;700&display=swap');

body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
  }


body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}


.taskbar {
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350); 
  background: linear-gradient(to right, #A43931, #1D4350);
  
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: hsl(0, 4%, 5%);
}

.logo img {
  cursor: pointer;
  width: auto;
  height: 50px;
  margin-right: 20px;
}

.navigation ul {
  list-style:none;
  display: flex;
  gap: 40px;
}

.navigation li {

  align-content: end;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
 
}

.navigation a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-size: 25px;
}

.navigation a:hover {
  color: #0056b3;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  
}

.user-profile p{
  color: #b53f0c;
  font-family:'Play', sans-serif;
  font-size: 30px;

}

/* .............. */
  .fit-picture {
    width: auto;
    height: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  }
  
  .container {

    font-size: large;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .credits1{
    cursor: pointer;
    font-family:'Play', sans-serif;
    padding: 5px;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius:10px 0px 0px 10px;
    width: 120px;
    height: auto;
  }

  .credits1:hover{
    transform: translate(-10px);
    transition-duration: 0.3s;
    box-shadow: 0 0 20px #eee;
  }
  .coin img{
    width: 50px;
    height: auto;
  }
  
  .header1 {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: url(back1.png);
    color: #fff;
    backdrop-filter: brightness(50);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .nav-item a:hover {
    color: #E0E0E0;
  }
  
  .hero {
    text-align: center;
    padding: 100px 0;
   
  }
  
  .hero-title {
    font-family: 'Croissant One', cursive;
    font-weight:700;
    font-size: 60px;
    margin-bottom: 20px;
    
  }
  
  .hero-text {
    font-family: 'Croissant One', cursive;
    font-weight:300;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  

             
    .btn {
      background-image: linear-gradient(to right, #C04848 0%, #1f4451  51%, #C04848  100%);
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: inline-block;
      font-size: 20px;
    font-family: 'Acme', sans-serif;
    text-decoration:none;
    }

    .btn:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }
  
  .btn:hover {
    background-color: #e96421;
  }

.container {
  margin-top: 40px;

}

.catalog {
  margin-top: 40px;
}

.catalog h2 {
  font-family:'Acme', sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 15px;
}

.book-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px 0;
  gap: 20px;
  align-self: center;
  margin-inline-start: auto;
}

.book {
  font-family: 'Acme', sans-serif;
  flex: 0 0 auto;
  max-width: 200px;
  
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

  max-block-size: 350 250;
}

.book img {
  align-items: center;
  max-height: 275px;
  max-width: auto;
  padding: 10px;
  border-color: black;
}

.book p {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
}

.book:hover {
  transform: translateY(-5px);
}

.footer-distributed{
  background: #1D4350;
   background: -webkit-linear-gradient(to right, #A43931, #1D4350); 
   background: linear-gradient(to right, #A43931, #1D4350);
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
 width: 40%;
}
.footer-left img{
   width:250px;
}

/* The company logo */

.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Open Sans', cursive;
 margin: 0;
}

.footer-distributed h3 span{
 color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}

.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 font-weight:400;
 text-decoration: none;
 color:  inherit;
}

.footer-distributed .footer-company-name{
 color:  #ffffff;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}

/* Footer Center */


.footer-distributed .footer-center{
 width: 35%;
 
}

.footer-distributed .footer-center i{
  
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}

.footer-distributed .footer-center p{
  font-family: 'Play', sans-serif;
 display: inline-block;
 color: #ffffff;
 font-weight:400;
 vertical-align: middle;
 margin:0;
}

.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}

.footer-distributed .footer-center a{
  color: rgb(255, 130, 58);
  text-decoration: none;
}
.footer-distributed .footer-center p a{
 color:  lightseagreen;
 text-decoration: none;;
}

.footer-distributed .footer-links a:before {
 content: "|";
 font-weight:300;
 font-size: 20px;
 left: 0;
 color: #fff;
 display: inline-block;
 padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
 content: none;
}

.map{
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style:inherit;
  
}
/* Footer Right */

.footer-distributed .footer-right{
  text-align: center;
 width: 20%;
}

.footer-distributed .footer-company-about{
  font-family: 'Acme', sans-serif;
 color:  #21b1aa;
 font-size: 20px;
 font-weight: normal;
 margin: 0;
}

.footer-distributed .footer-company-about span{
  font-family: 'Play', sans-serif;
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}


.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  color: black;
  font-family:'Play', sans-serif;
}

.feature {
  background: #DAE2F8;  
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); 
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  max-width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  flex: 0 0 auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.feature img {
  width: auto;
  height: 100px; 
  margin-bottom: 10px;
  background-color: transparent;
}

.feature h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
}

/* Hover effect (optional) */
.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


