

.container {
    
    margin-top: 40px;
  }
  
  .customer-profile {
    margin-top: 40px;
    text-align: center;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #007BFF;
    margin-bottom: 10px;
  }
  
  .profile-header h2 {
    font-size: 24px;
  }
  
  .profile-details {
    text-align: left;
  }
  
  .profile-details h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .profile-details p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
  }
  .credits {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: medium;
  }
  .container {
    margin-top: 40px;
  }

  .fit-picture1 {
    width: 250px;
    height: auto;
  }