/* Other styles */

.container {
    /* ... */
    margin-top: 40px;
  }
  
  .catalog {
    margin-top: 40px;
  }
  
  .catalog h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .book-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px 0;
    gap: 20px;
  }
  
  .book {
    flex: 0 0 auto;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .book img {
    max-width: 100%;
    height: auto;
  }
  
  .book p {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
  }
  
  .book:hover {
    transform: translateY(-5px);
  }
  